.App-header {
  text-align: center;
}

.App-main {
  background-color: #C1DDFF;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Paper {
  padding: 10px;
  margin-right: 25px;
}

.Modal {
  padding: 10px;
}

